@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.inter {
    font-family: 'Nunito', sans-serif;
}

.img-c1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
    filter: blur(1px) brightness(150%);
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff2;
    filter: blur(4px);
}

.sc-1 {
    background: -webkit-linear-gradient(175deg, rgb(45, 47, 60), rgb(16, 16, 28));
    background: linear-gradient(175deg, rgb(45, 47, 60), #10101c);
}

.shadow-inset {
    box-shadow: inset 0px 0px 6px #0001;
    transition: all 0.1s ease-in;
    font-weight: 600;
}

.outer-shadow {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

input[type='radio'],
input[type='checkbox'] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid #fff6;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
    border: 4px solid white;
}

input[type='radio']:checked+label,
input[type='checkbox']:checked+label {
    background-color: #ff715b;
    color: white;
}